/** 
  *
  *  ESTILOS GERAIS 
  *
  **/
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

h2 {
    background-color: #fe7e02;
    padding: 10px 5px 10px 5px;
    color: white;
    text-align: center;
}

input {
    height: 20px;
    width: 500px;
    border-top: 2px;
   
     
}

button:focus {
    color: white;
}

img {
    width: 80px;
}

div>p:first-child {
    display: inline;
}

div img {
    background: none;
}

.botao-amarelo {
    background-color: #ffaf43;
    width: 250px;
    height: 40px;
    border-radius: 5px;
    font-size: 20px;
    color: white;
}

.botao-amarelo:hover {
    background-color: #c44f00;
}

.container {
    height: 500px;
    text-align: center;
    width: auto;
    

}

.icone {
    height: 16px;
    width: 16px;
    background: none;
}


/** 
  *
  *  ESTILOS HOME 
  *
  **/

#container-de-descricao {
    background-color: #2274a5;
    color: white;
    padding-top: 15vh;

}

#container-de-descricao>ol {
    padding: 15px 0px;
    margin: auto;
    width: 300px;
}

#container-para-comprar {
    background-color: #e7eb90;
}

#container-para-comprar>p {
    color: #c44f00;
    padding: 100px 0;
    font-size: 60px;
    display: block;
}


/**
  *
  *  ESTILOS COMPRAR 
  *
  **/

div:nth-child(2),
div:last-child {
    text-align: center;
}

table {
    width: 60%;
    text-align: center;
    margin: auto;
    
}

td button {
    background-color: #fadf63;
    width: 150px;
    height: 30px;
    border-radius: 5px;
    color: black;
    cursor: pointer;
    
}

button:hover {
    background-color: #635a3d
    
}

button:focus {
    color: rgb(240, 239, 239);
    outline: 0;
}

.container-do-search {
    margin-top: 20px;
    height: 100px;
}


#back-button {
    background-color: white;
    width: 100px;
    height: 20px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 10px;
    color: black;
    margin: auto;
    display: block;
    cursor: pointer;
    
   
}

#back-button:hover {
    background-color: #635a3d
}